.about__owner__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 110px;
}

.about__owner__content {
    display: flex;
    flex-direction: column;
    flex: 0 1 597px;
    gap: 24px;
}

.about__owner__content__title__box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about__owner__content__title {
    font-family: SF Pro Display;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #202223;
}

.about__owner__content__title__txt {
    font-family: SF Pro Text;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #202223;
}

.about__owner__content__services {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__owner__content__service {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 2px solid #98C6CD;
    padding-left: 12px;
}

.about__owner__content__service__title {
    font-family: SF Pro Text;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #202223;
}

.about__owner__content__service__txt {
    font-family: SF Pro Text;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #202223;
}

.about__owner__img {
    display: flex;
    flex: 0 1 463px;
  }

@media (max-width: 992px) {
  .about__owner__wrapper {
    padding: 16px 10px;
    gap: 10px;
    align-items: stretch;
  }

  .about__owner__content {
    gap: 16px;
  }

  .about__owner__content__title {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
  }

  .about__owner__content__title__txt {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }

  .about__owner__content__services {
    gap: 16px;
  }

  .about__owner__content__service {
    padding-left: 6px;
  }

  .about__owner__content__service__title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
  }

  .about__owner__content__service__txt {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }

  .about__owner__img {
    max-width: 420px;
  }

  .about__owner__img__image {
    width: 100%;
  }
}

@media(max-width: 768px) {
  .about__owner__img {
    display: none;
  }

  .about__owner__wrapper {
    justify-content: center;
  }

  .about__owner__content {
    flex: auto;
  }
}