.article__page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0px 72px 0px;
}

.catalog__nav__list__item__link__article {
  color: #6d7175;
}

.catalog__nav__list__item__link_relevant__article {
  color: #202223;
}

.article__wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.article__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article__header__title {
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0px;
  color: #202223;
  max-width: 770px;
}

.article__header__meta {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.article__header__meta__param {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6d7175;
}

.article__img {
  display: block;
  img {
    width: 100%;
    height: 100%;
    max-height: 306px;
    object-fit: cover;
  }
}

.article__txt {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 32px;
  max-width: 770px;
  width: 100%;
  p {
    font-family: SF Pro Text;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: #202223;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.no__article {
  display: flex;
  justify-content: center;
  h3 {
    color: var(--Text-Default, #202223);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  .article__header__title {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .article__page__wrapper {
    padding: 16px 0px 48px 0px;
  }

  .catalog__nav__list {
    gap: 8px;
  }

  .article__header {
    gap: 12px;
  }

  .article__header__title {
    font-size: 24px;
  }

  .article__header__meta__param {
    font-size: 15px;
  }

  .article__txt {
    gap: 16px;
    p {
      font-size: 16px;
    }
  }

  .article__wrap {
    gap: 24px;
  }
}
