.basket {
  background-color: white;
}

.slider__basket {
  padding: 10px;
}

.basket__wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 16px 0px 64px 0px;
}

.empty__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.empty__cart__title {
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #202223;
  max-width: 654px;
  text-align: center;
}

.empty__img img {
  max-width: 369px;
  width: 100%;
}

.go__to__catalog {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: white;
  background-color: #00a0ac;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2),
    0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  transition: linear 0.3s;
}

.go__to__catalog:hover {
  background-color: #347c84;
}

.my__cart {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.my__cart__title {
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #202223;
}

.my__cart__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.my__cart__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  max-width: 770px;
  width: 100%;
  max-height: 590px;
  overflow-y: auto;
  background-color: aliceblue;
  border-radius: 8px;
}

.my__cart__items::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}

.my__cart__items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

.my__cart__items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.my__cart__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
}

.my__cart__item__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.my__cart__item__img {
  width: 56px;
  height: 56px;
}

.my__cart__item__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 1 471px;
}

.my__cart__item__info__title {
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #202223;
}

.my__cart__item__info__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.my__cart__item__info__option {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #202223;
  background-color: #e4e5e7;
  padding: 2px 8px;
  border-radius: 2px;
  transition: linear 0.3s;
  cursor: pointer;
}

.my__cart__item__info__option:hover {
  background-color: #449da7;
  color: #ffffff;
}

.my__cart__item__info__option__active {
  background-color: #449da7;
  color: #ffffff;
}

.my__cart__item__price {
  font-family: SF Pro Text;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #202223;
  white-space: nowrap;
}

.my__cart__item__old__price {
  font-family: SF Pro Text;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #8c9196;
  text-decoration: line-through;
  text-decoration-color: #d72c0d;
  display: none;
}

.my__cart__item__remove {
  width: 24px;
  height: 24px;
  background-color: white;
}

.my__cart__item__info__total {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.my__cart__item__info__total__wrap {
  display: flex;
  flex-direction: row;
  gap: 35px;
  position: relative;
}

.popular__product__sale__badge__basket {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #ff733b;
  color: white;
  padding: 2px 8px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.my__cart__total {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 24px;
  padding: 16px 24px;
  background-color: #008060;
  border-radius: 8px;
}

.my__cart__total__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my__cart__total__price {
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #ffffff;
}

.my__cart__old__total__price {
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: line-through;
  text-decoration-color: #d72c0d;
  order: -1;
}

.my__cart__total__product {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
}

.my__cart__total__count {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
}

.my__cart__pickup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.my__cart__pickup__txt {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.my__cart__pickup__txt__title {
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0px;
  color: white;
}

.my__cart__pickup__txt__location {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.my__cart__pickup__txt__location__txt {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: white;
}

.my__cart__btn {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #202223;
  background-color: #ffffff;
  padding: 12px 102px;
  border-radius: 8px;
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2),
    0px 1px 0px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 992px) {
  .my__cart__wrap {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .empty__cart {
    gap: 24px;
  }

  .empty__cart__title {
    font-size: 24px;
    line-height: 28px;
  }

  .basket__wrapper {
    gap: 24px;
  }

  .my__cart__items {
    gap: 16px;
  }

  .my__cart__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
  }

  .my__cart__item__wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .my__cart__item__info {
    flex: 0;
  }

  .my__cart__item__info__total {
    flex-direction: row;
    align-items: flex-end;
  }

  .my__cart__item__info__total__wrap {
    align-items: flex-end;
    position: static;
  }

  .popular__product__sale__badge__basket {
    top: 5px;
    right: 5px;
    align-self: flex-start;
  }

  .my__cart__item__old__price {
    display: block;
  }

  .my__cart__btn {
    line-height: 20px;
    padding: 12px 86px;
  }
}
