.filter {
  background-color: #f6f6f7;
}

.filter__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0px;
  gap: 10px;
}

.animal__category {
  display: flex;
  flex-direction: row;
  flex: 0 1 215px;
  padding-right: 30px;
  background-color: white;
  border-radius: 5px;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  transition: linear 0.3s;
}

.animal__category:hover {
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.1);
}

.animal__category__title {
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #202223;
}

@media (max-width: 992px) {
  .filter {
    overflow: hidden;
  }

  .filter__wrapper {
    overflow-x: auto;
    scrollbar-width: none;
  }

  .filter__wrapper::-webkit-scrollbar {
    display: none;
  }

  .animal__category {
    max-width: 138px;
    gap: 8px;
  }

  .animal__category__title {
    font-size: 15px;
    line-height: 20px;
  }

  .animal__category img {
    width: 56px;
    height: 56px;
  }
}
