.popualr__brands {
  background-color: #f6f6f7;
}

.popular__brands__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 56px 0px;
}

.popular__brands__title {
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #202223;
}

.popular__brands__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  max-height: 395px;
  overflow: hidden;
}

.popular__brand {
  border-radius: 4px;
  max-width: 174px;
  max-height: 116px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 14px 20px;
  aspect-ratio: 174 / 116;
}

.popular__brand__img {
  max-width: 134px;
  max-height: 87px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.watch__more__brands {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #00A0AC;
  border-radius: 4px;
  padding: 12px 24px;
  transition: linear .3s;
}

.watch__more__brands:hover {
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2),
    0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  background-color: #347c84;
}

@media(max-width: 992px) {
  .popular__brands__wrapper {
    padding: 0px 0px 54px 0px;
    gap: 16px;
  }

  .popular__brands__title {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
  }

  .popular__brands__box {
    gap: 16px 8px;
    max-height: 205px;
  }

  .popular__brand {
    flex: 0 1 85px;
    padding: 8px 8px;
  }

  .watch__more__brands {
    padding: 8px 16px;
  }
}

@media(max-width: 992px) {
  .popular__brands__title {
    align-self: flex-start;
  }
}

@media(max-width: 768px) {
  .popular__brands__box {
    column-gap: 6px;
  }

  .popular__brand {
    flex: 0 1 80px;
  }
}