.popular__products {
  background-color: #f6f6f7;
}

.popular__products__wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 56px 0px;
}

.popular__products__sales__box {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.popular__products__sales {
  display: flex;
  flex-direction: row;
  background-color: #ffd79d;
  padding: 0px 23px 0px 24px;
  border-radius: 5px;
  background-image: url(../img/image\ 31.png);
  background-repeat: no-repeat;
  background-position: right 23px bottom 0px;
  flex: 0 1 569px;
  padding: 24px 190px 23px 24px;
}

.present {
  background-color: #aee9d1;
  background-image: url(../img/image-30-desktop.png);
  background-repeat: no-repeat;
  background-position: right 28px bottom 0px;
}

.popular__products__sales__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.popular__products__sales__title {
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #202223;
}

.transition__button {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #202223;
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #8c9196;
  border-radius: 4px;
}

.popular__products__slider__title {
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #202223;
}

// слайдер(функционал)

.popular__products__slider {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}

.popular__products__slider__title__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popular__products__slider__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.popular__products__slider__vector__left {
  background-color: white;
  padding: 14px 17px 14px 16px;
  border-radius: 40px;
  align-self: center;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: linear 0.3s;
}

.popular__products__slider__vector__left:hover {
  background-color: #00a0ac;
  path {
    fill: white;
  }
}

.popular__products__slider__vector__right {
  background-color: white;
  padding: 14px 17px 14px 16px;
  border-radius: 40px;
  align-self: center;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: linear 0.3s;
}

.popular__products__slider__vector__right:hover {
  background-color: #00a0ac;
  path {
    fill: white;
  }
}

.popular__products__cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 1170px;
  transition: linear 0.3s;
  // overflow-x: auto;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.popular__products__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 31px;
  background-color: white;
  border-radius: 5px;
  padding: 8px 8px;
  max-width: 270px;
  width: 100%;
  transition: linear 0.3s;
}

.popular__products__card:hover {
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.1),
    0px 0px 2px 0px rgba(0, 0, 0, 0.06);
}

.popular__products__card__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  position: relative;
}

.popular__product__sale__badge {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #ff733b;
  color: white;
  padding: 2px 8px;
  border-radius: 2px;
  user-select: none;
  position: absolute;
  top: 8px;
}

.popular__products__card__photo__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popular__products__card__photo {
  max-height: 130px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.popular__products__card__title__link {
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.popular__products__card__quantity__container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.popular__products__card__quantity__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.popular__products__card__quantity {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #202223;
  background-color: #e4e5e7;
  border-radius: 2px;
  padding: 2px 8px;
  align-self: flex-start;
  cursor: pointer;
  transition: linear 0.3s;
}

.popular__products__card__quantity:hover {
  background-color: #449da7;
  color: white;
}

.popular__products__card__quantity__active {
  color: white;
  background-color: #449da7;
}

.popular__products__card__pay {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popular__products__card__pay__price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 19px;
  white-space: nowrap;
}

.popular__products__card__pay__price__box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.popular__products__card__pay__price__p {
  font-family: SF Pro Text;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #202223;
}

.popular__products__card__pay__price__old {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
  color: rgb(140, 145, 150);
  text-decoration: line-through;
  text-decoration-color: red;
  border: 1px dashed gainsboro;
}

.popular__products__card__basked__add {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #babfc3;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 8px;
}

.popular__products__card__basket__img__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.popular__products__card__basket__img {
  width: 20px;
  height: 20px;
  order: 2;
}

.popular__product__card__plus__img {
  width: 10px;
}

.popular__products__card__pay__btn {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #202223;
  border-radius: 4px;
  border: 1px solid #00a0ac;
  padding: 8px 72px;
  background-color: white;
  white-space: nowrap;
  transition: linear 0.3s;
}

.popular__products__card__pay__btn:hover {
  background-color: #00a0ac;
  color: #ffffff;
}

.popular__products__watch__more__products {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #00a0ac;
  padding: 12px 24px;
  border-radius: 4px;
  align-self: center;
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2),
    0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  transition: linear 0.3s;
}

.popular__products__watch__more__products:hover {
  background-color: #347c84;
}

// Modal Window

.buy__modal {
  display: none;
  max-width: 611px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.buy__modal__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
}

.buy__modal__title {
  font-family: SF Pro Text;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #202223;
}

.buy__modal__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #8c9196;
}

.buy__modal__card__img {
  width: 56px;
  height: 56px;
}

.buy__modal__card__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.buy__modal__card__title {
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #202223;
}

.buy__modal__card__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.buy__modal__card__set__weight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.buy__modal__card__btn {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2c6ecb;
  background-color: white;
  cursor: pointer;
}

.buy__modal__card__set__weight__box {
  display: none;
  flex-direction: column;
  gap: 8px;
}

.buy__modal__card__set__weight__title {
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #202223;
}

.buy__modal__card__set__weight__hide {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.buy__modal__card__price__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.buy__modal__card__price__box {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.buy__modal__card__price {
  font-family: SF Pro Text;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #202223;
  white-space: nowrap;
}

.buy__modal__card__old__price {
  font-family: SF Pro Text;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #8c9196;
  text-decoration: line-through;
  text-decoration-color: #d72c0d;
  white-space: nowrap;
}

.buy__modal__card__p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #6d7175;
  text-align: center;
}

.input__box__buy__click {
  max-width: 349px;
  width: 100%;
}

.buy__modal__card__form__btn {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 8px 16px;
  background-color: #00a0ac;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
    0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  cursor: pointer;
}

.buy__modal__card__privaty {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #6d7175;
}

.buy__modal__card__privaty__link {
  color: #2c6ecb;
}

.buy__modal__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: 6px;
}

.buy__modal__badge {
  left: 8px;
}

// success modal

.success__modal {
  display: block;
  max-width: 414px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.success__modal__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 56px;
  background-color: white;
  border-radius: 8px;
  position: relative;
}

.succes__modal__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.success__modal__img {
  width: 48px;
  height: 48px;
}

.success__modal__title {
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #202223;
}

.success__modal__text {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #202223;
}

.success__modal__btn {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  background-color: #00a0ac;
  border-radius: 4px;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
    0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  padding: 8px 16px;
}

@media (max-width: 992px) {
  .popular__products__wrapper {
    padding: 32px 0px;
    gap: 32px;
    overflow: hidden;
  }

  .popular__products__sales__box {
    justify-content: center;
    gap: 16px;
    order: 2;
  }

  .popular__products__sales {
    padding: 8px 116px 8px 8px;
    flex: 0 1 340px;
    background-size: 116px 116px;
    background-position: right 0 bottom;
  }

  .popular__products__sales__content {
    gap: 8px;
  }

  .popular__products__sales__title {
    font-size: 15px;
    line-height: 20px;
  }

  .present {
    background-image: url(../img/image-30-mobile.png);
  }

  // слайдер

  .popular__products__slider {
    gap: 16px;
  }

  .popular__products__slider__title {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
    align-items: center;
  }

  .popular__products__cards {
    gap: 18px;
  }

  .popular__products__card {
    max-width: 243px;
  }

  .popular__products__card__title__link {
    font-size: 15px;
  }

  .popular__products__card__pay {
    gap: 11px;
  }

  .popular__products__card__pay__price {
    gap: 16px;
    flex-wrap: wrap;
  }

  .popular__products__card__pay__btn {
    padding: 8px 58px;
  }

  .popular__products__watch__more__products {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .popular__products__slider__buttons {
    display: none;
  }

  .popular__products__sales__box {
    flex-direction: column;
    max-height: 260px;
  }

  .popular__products__cards {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  // modal window

  .buy__modal {
    max-width: 340px;
  }

  .buy__modal__wrap {
    padding: 16px 8px;
  }

  .buy__modal__title {
    align-self: flex-start;
  }

  .buy__modal__card {
    flex-direction: column;
    align-items: flex-start;
  }

  .buy__modal__card__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .buy__modal__card__price__wrap {
    flex-direction: row;
  }

  .buy__modal__card__p {
    font-size: 15px;
  }

  .buy__modal__card__form__btn {
    align-self: flex-start;
  }

  .buy__modal__card__privaty {
    text-align: center;
  }

  // success modal

  .success__modal {
    max-width: 340px;
  }

  .success__modal__wrap {
    padding: 24px 19px;
  }
}
